  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
  }

  body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
  }

  .container{
    width: 400px;
    height: min-content;
    background-color: white;
    border-radius: 12px;
    padding: 25px;
  }

  .search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search-box input{
    width: fit-content;
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
    background-color: rgb(217, 253, 252);
    padding: 12px 16px;
    border-radius: 14px;

  }
  .search-box input::placeholder{
    color: #000;
  }
  .search-box button{
    width:46px;
    height: 46px;
    background-color:rgb(217, 253, 252);
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
  }
  .search-box button:hover{
    color: azure;
    background-color: antiquewhite;
  }
  .weather-body{
    margin:30px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
  }
  .weather-body img{
    width: 60%;
  }
  .weather-box{
margin: 20px 0px 0px;
text-align: center;
  }
  .weather-box .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;

  }
  .weather-box .temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 600;
  }
  .weather-box .description{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
  }
.weather-detail{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.humidity, .wind{
  display: flex;
  align-items: center;
}
.humidity{
  margin-left: 20px;
}
.wind{
  margin-right: 20px;
}
.weather-detail i{
  font-size: 35px;
}
.weather-detail .text{
  margin-left: 10px;
  font-size: 16px;
}
.text span{
  font-size: 20px;
  font-weight: 700;
}
.location-not-found{
  margin-top: 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.location-not-found img{
width: 80%;
}
.location-not-found h1{
  font-size: 20px;
  color: grey;
  margin-block-end: 15px;
}